{% extends 'clienttemplates/clientbase.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-10">
    <div id="container" style="width: 75%;">
      <canvas id="bar-chart"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
        '#0000ff', '#ff0000', '#ffff00', '#008000', '#4b0082','#650d19'
        ],
        label:'All Expenditures'
      }],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true,
      
      
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };

</script>

{% endblock %}