{% extends 'clienttemplates/clientbase.html' %}
{% load static %}



{% block content %}
<br>

<div class="row" style="background-color: #8ae6d4">
	<div class="col-md-3 mx-auto" style="background-color:#49b927">
		<div class="content-fluid">
			<h4 class="text text-center"><u>Subject Create Form</u></h4>
			<form method="post">
				<style type="text/css">
                              input[type=number]::-webkit-inner-spin-button, 
                              input[type=number]::-webkit-outer-spin-button { 
                                -webkit-appearance: none; 
                                margin: 0; 
                              }
                           </style>
				
				{% csrf_token %}

				{{form.as_p}}<br>

				<button class="btn btn-danger">Submit</button> 
			</form>
			<br><a href="{% url 'ex_trackerapp:clientselfexpenditure2' %}"><button class="btn btn-danger">Create New Category</button></a>
		</div>
	</div>
</div>

{% endblock %}