{% extends 'clienttemplates/clientbase.html' %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="expenditure-chart" data-url="{% url 'ex_trackerapp:expenditure-chart' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $expenditureChart = $("#expenditure-chart");
      $.ajax({
        url: $expenditureChart.data("url"),
        success: function (data) {

          var ctx = $expenditureChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Total expenditure',
                backgroundColor: [
        '#0000ff', '#ff0000', '#ffff00', '#008000', '#4b0082','#650d19'
        ],
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Expenditure Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}