{% extends 'clienttemplates/clientbase.html' %}

{% block content %}
<div class="row" style="background-color:#B0C4DE">
	<div class="col-md-2">
		
	</div>
	<div class="col-md-10">
		<div id="container" style="width: 75%;">
			<canvas id="pie-chart"></canvas>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

	var config = {
		type: 'pie',
		data: {
			datasets: [{
				data: {{ data|safe }},
				backgroundColor: [
				'#0000ff', '#ff0000', '#ffff00', '#008000', '#4b0082','#650d19'
				],
				label:''
			}],
			labels: {{ labels|safe }}
		},
		options: {
			responsive: true,
			legend: {
				position: 'top',
			},
		}
	};

	window.onload = function() {
		var ctx = document.getElementById('pie-chart').getContext('2d');
		window.myPie = new Chart(ctx, config);
	};

</script>

{% endblock %}