{% extends 'clienttemplates/clientbase.html' %}
{% load static %}



{% block content %}
<br>

<div class="row" style="background-color: #8ae6d4">
	<div class="col-md-3 mx-auto" style="background-color:#49b927">
		<div class="content-fluid">
			<h4 class="text text-center"><u>Category Create Form</u></h4>
			<form method="post">
				
				{% csrf_token %}

				{{def.as_p}}<br>

				<button class="btn btn-danger">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}