{% extends 'clienttemplates/clientbase.html' %}


{% block content %}
<div class="container" style="background-color:#D3D3D3" >
	<div class="row">
		<div class="col-md-1">

		</div>
		<div class="col-md-11">
			<h4 class="text text-center">All Expenditure List</h4><br>
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>S.N</th>
						<th>Food</th>
						<th>Education</th>
						<th>Cloths</th>
						<th>Vehicle</th>
						<th>Extra</th>
						<th>Saving</th>
						<th>Status</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for expn in request.user.customerexpenditure_set.all %}
					<tr>	
						<td>{{forloop.counter}}</td>
						<td>{{expn.food}}</td>
						<td>{{expn.education}}</td>
						<td>{{expn.cloths}}</td>
						<td>{{expn.vehicle}}</td>
						<td>{{expn.extra}}</td>
						<td>{{expn.saving}}</td>
						<td>{{expn.status}}</td>
						<td><a href="{% url 'ex_trackerapp:clientexpendetail' expn.id %}">{{expn.created_at}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
				
			</table>

		</div>
	</div>
</div>
{% endblock %}