{% extends 'clienttemplates/clientbase.html' %}
{% load static %}



{% block content %}
<div class="row" style="background-color: #8ae6d4">
	<div class="col-md-3 mx-auto" style="background-color:#49b927">
		<div class="content-fluid">
			<h4 class="text text-center"><u>Expenditure Form</u></h4>
			<form method="post">
				<style type="text/css">
                              input[type=number]::-webkit-inner-spin-button, 
                              input[type=number]::-webkit-outer-spin-button { 
                                -webkit-appearance: none; 
                                margin: 0; 
                              }
                           </style>
				{% csrf_token %}<br>

				{{form.food}}<br>

				{{form.education}}<br>

				{{form.cloths}}<br>

				{{form.vehicle}}<br>

				{{form.extra}}<br>

				{{form.saving}}<br>

				{{form.status}}<br>

				<button class="btn btn-danger">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}