{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
	<div class="topnav" id="myTopnav">
		<div class="container">
			<a href="{% url 'ex_trackerapp:clientexlist' %}" class="active">Home</a>
			<a href="{% url 'ex_trackerapp:clientexpenditure' %}">Expenditure</a>
			<a href="{% url 'ex_trackerapp:clientexlist2' %}">BarCharts</a>
			<a href="{% url 'ex_trackerapp:clientselfexpenditure' %}">Create</a>
			<a href="{% url 'ex_trackerapp:pie-chart' %}">Pie Visual</a>
			<a href="{% url 'ex_trackerapp:home' %}">BarVisualize</a>
			
			{% if request.user.is_authenticated %}
			<a href="#">{{request.user}}</a>
			<a href="{% url 'ex_trackerapp:logout' %}" >Logout</a>
			{% endif %}


		</div>
	</div>

	<hr>
	{% block content %}
	{% endblock %}

</body>
</html>