{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	
	<div class="login-box">
		<h1>Login Form</h1>
		<form method="POST">
			{% csrf_token %}
			<div class="textbox">
			{{form.email}}
			<br><br>
			{{form.password}}
			</div>
			<button class="btn btn-info">Submit</button>
			<span class="text-danger">
				{{error}}
			</span>	
		</form>
		Don't have an account ? <a href="{% url 'ex_trackerapp:signup' %}">Signup</a>
	</div>

</body>
</html>





