{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	
<div class="login-box">
		<h1>Signup Form</h1>
		
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info" id="btn">Submit</button>
			<span class="text-danger">
				{{error}}
			</span>
			<p id="error" style="color:red"></p>
			
		</form>
		Already have an account ? <a href="{% url 'ex_trackerapp:login' %}">Login</a>
		
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
  
<script >
$(document).ready(function(){
	$("#id_email").on("keyup",function(){
		var uemail=$(this).val();
		$.ajax({
			url:"/ajax_check_useremail/",
			data:{
				"email":uemail
			},
			success:function(data){
				
				if (data.message=="unavailable"){
					$("#error").text("Email is already exist.");
					$("#btn").attr("disabled","true")

				}
				else{
					$("#error").text("");
					$("#btn").removeAttr("disabled")



				}
			}
		})


	})
})	


</script>


</body>
</html>


